.contacts {
  font-style: normal;
  text-align: right;
  margin-left: auto;
}
.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  display: block;
}
.contacts__text {
  color: #9a9a9a;
  font-size: 11px;
}