.about {
  margin-bottom: 44px;
}
.discription {
  display: flex;
}
.discription:before {
  content: "";
  display: block;
  width: 488px;
  height: 502px;
  background: url("../../images/decor/gates.jpg") center center / cover no-repeat;
  border-radius: 6px;
}   
.discription__desc {
  content: "";
  max-width: 780px;
  height: 454px;
  background: url("../../images/decor/mountains.jpg") center center / cover no-repeat;
  border-radius: 6px;
  margin-left: -130px;
  margin-top: 108px;
  padding: 68px 100px;
}
.discription__title {
  color: #000000;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}
.discription__desc-text {
  color: #303030;
  margin-bottom: 30px;
}
.discription__desc-text p {
  margin-bottom: 20px;
}
.discription__desc-text p:last-child {
  margin-bottom: 0;
}