.form__row {
  display: flex;
  margin-bottom: 30px;
}
.form__input {
  flex: 1;
  margin-right: 30px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  padding: 19px 29px;
  font-size: 18px;
  color: #1a1b1e;
}
.form__input::placeholder {
  color: #666666;
}
.form__input:last-child {
  margin-right: 0;
}
.form__input--textarea {
  height: 232px;
}
.form__controls {
  display: flex;
  margin-bottom: 18px;
}
.form__controls--title {
  width: 30%;
}
.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.controls__item {
  margin-bottom: 10px;
  margin-right: 10px;
}
.controls__elem {
  cursor: pointer;
}
.controls__checkbox {
  display: none;
}
.controls__checkbox:checked ~ .controls__tag {
  background: #b9eae4;
}
.form__buttons {
  display: flex;
  justify-content: flex-end;
}
.form__button {
  margin-right: 22px;
}
.form__button:last-child {
  margin-right: 0;
}