.inner-section {
  background:#ffffff;
  color: #202123;
  padding: 95px 0;
}
.inner-section--bg--grey {
  background: #f4f5f5;
  padding-top: 74px;
  padding-bottom: 100px;
}
.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 46px;
}
.inner-section__title-partners {
 padding-top: 9px;
 margin-bottom: 64px;
}
.inner-footer__container {
  padding: 44px 0;
}
.inner__footer {
  margin-top: auto;
}