.separator {
  background: url("../../images/bg/middleline.jpg") center center no-repeat;
  min-height: 360px;
  position: relative;
  display: flex;
  align-items: center;
}
.separator:after {
  content: "";
  background: url("../../images/decor/couple.png");
  width: 487px;
  height: 341px;
  position: absolute;
  top: 19px;
  right: 178px;
}
.separator__content {
  width: 52%;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.separator__title {
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
}
span.nowrap {
  white-space: nowrap;
}