.separator {
  background: url("../../images/bg/middleline.jpg") center center no-repeat;
  min-height: 360px;
  display: flex;
  align-items: flex-end
}
.separator__content {
  display: flex;
  align-items: center;
}
.separator__title {
  flex: 1;
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
}
.separator__pic {
  width: 487px;
  height: 341px;
}
.separator__img {
  margin-left: auto;
}
span.nowrap {
  white-space: nowrap;
}