.services {
  padding-top: 100px;
  margin-bottom: 69px;
}
.services__item {
  margin-bottom: 50px;
}
.services__item:last-child {
  margin-bottom: 0;
}
.service {
  display: flex;
  text-decoration: none;
}
.service__img {
  width: 40%;
  height: 329px;
  margin-right: 61px;
  overflow: hidden;
  border-radius: 6px;
}
.service__img-elem {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.service__info {
  flex: 1;
  padding-top: 13px;
}
.service__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 28px;
  color: #000000;
}
.service__text {
  line-height: 1.7;
  margin-bottom: 30px;
}