.welcome-wrapper {
  height: 100%;
}
.welcome {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background: url("/images/bg/screen.jpg") center center no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.welcome::before {
  content: "";
  display: block;
  position: absolute;
  background: url("/images/decor/shades.png") center top no-repeat;
  width: 591px;
  height: 248px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 }
.welcome__content {
  text-align: center;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  animation: airasia .8s ease-in-out forwards 1s;
 }
 @keyframes airasia {
  0% {
    opacity: 0;
    transform: translate(-50%,-50%);
  }
  25% {
    transform: scale(1.2) translate(-50%,-50%);
  }
  50% {
    transform: scale(1) translate(-50%,-50%);
  }
  75% {
    transform: scale(1.1) translate(-50%,-50%);
  }
  100% {
    transform: scale(1) translate(-50%,-50%);
    opacity: 1;
  }
}
.welcome__logo {
  width: 279px;
  height: 119px;
}
.welcome__title {
  font-size: 18px;
  margin-bottom: 54px;
}
.welcome-content__button {
  background-color: #f5170e;
  color: #ffffff;
  padding: 17px 57px;
}
